@font-face {
   font-family: 'Play';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/H2/SKM%20Dropbox/SKM%20Software/Dev/Mobirise/ubg235/front-page/fonts/Play/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Play';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/H2/SKM%20Dropbox/SKM%20Software/Dev/Mobirise/ubg235/front-page/fonts/Play/regular.ttf') format('truetype');
}
