@font-face {
   font-family: 'Play';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('./700.ttf') format('truetype');
}
@font-face {
   font-family: 'Play';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('./regular.ttf') format('truetype');
}
