@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('./200.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('./300.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('./500.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('./600.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('./700.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('./regular.ttf') format('truetype');
}
