@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('./100.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('./200.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('./300.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('./500.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('./600.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('./700.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('./800.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('./900.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('./regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('./100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('./200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('./300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('./italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('./500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('./600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('./700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('./800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('./900italic.ttf') format('truetype');
}
